/***************************************************************
Base CSS =======================================================
***************************************************************/
:root {
  /* [Var] Color Palette (Black-Gray-Orange) [--b* or --a*] */
  --background-color: #282724;
  --base-color-1: hsl(41, 50%, 85%);
  --base-color-2: hsl(42, 15%, 70%);
  --accent-color: #f4a825;
  --accent-grad-1: hsl(10, 90%, 50%);
  --accent-grad-2: hsl(50, 95%, 42%);
  /* [Var] Specific Element Color [--c*] */
  --custom-sticky-top: hsla(42, 5%, 15%, 0.25);
  --custom-gradient-contact-icons: hsl(42, 60%, 15%);
  --custom-mouse-glow-1: hsla(42, 90%, 50%, 5%);
  --custom-mouse-glow-2: hsla(42, 80%, 50%, 0);
  --card-background: hsl(42, 5%, 18%);
  --card-background-grad-1: hsl(42, 5%, 21%);
  --card-background-grad-2: hsl(42, 5%, 19%);
  --card-hover-top-border: hsl(0, 0%, 30%);
  --card-not-hover-text-color: hsl(43, 10%, 50%);
  /* [Var] Text (Minor Third 1.2 Scale Rounded Ratio) [--t*] */
  --text-size-sm: 0.8rem;
  --text-size-md: 1rem;
  --text-size-lg: 1.2rem;
  --text-size-title: 2.4rem;
  /* [Fixed] Font (Inter Best Font)[--f*] */
  font-family: "Inter", sans-serif;
  font-feature-settings: "calt", "ss03", "cv02", "cv05", "cv11";
  /* Make sure the scrolling is smooth */
  scroll-behavior: smooth;
}

.light-mode {
  /* [Var] Color Palette (Black-Gray-Orange) [--b* or --a*] */
  --background-color: hsl(36, 90%, 95%);
  --base-color-1: hsl(24, 90%, 15%);
  --base-color-2: hsl(0, 0%, 0%);
  /* [Var] Specific Element Color [--c*] */
  --accent-color: hsl(40, 100%, 50%);
  --accent-grad-1: hsl(48, 100%, 50%);
  --accent-grad-2: hsl(8, 95%, 55%);
  --custom-sticky-top: hsla(36, 90%, 95%, 0.5);
  --custom-gradient-contact-icons: hsl(36, 95%, 85%);
  --custom-mouse-glow-1: hsla(36, 90%, 30%, 5%);
  --custom-mouse-glow-2: hsla(36, 80%, 50%, 0);
  --card-background: hsl(36, 95%, 90%);
  --card-background-grad-1: hsl(25, 95%, 90%);
  --card-background-grad-2: hsl(32, 95%, 90%);
  --card-hover-top-border: hsl(20, 90%, 85%);
  --card-not-hover-text-color: hsl(20, 60%, 30%);
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: "InterVariable", sans-serif;
  }
}

::selection {
  background: #305A88;
  color: #fff;
}

::-moz-selection {
  background: #305A88;
  color: #fff;
}

/* Html Body and Base Background */
body {
  background-color: var(--background-color);
  color: var(--base-color-2);
  font-size: var(--text-size-md);
  scrollbar-width: thin;
  scrollbar-color: var(--base-color-2) var(--background-color);
  line-height: 1.5;
  margin: 0;
}

/* Headings */
h1 {
  font-size: var(--text-size-title);
  text-transform: capitalize;
  margin: 0;
  margin-top: -0.25rem;
  font-weight: 800;
  background: linear-gradient(90deg,
      var(--accent-grad-1) 20%,
      var(--accent-color) 45%,
      var(--accent-color) 55%,
      var(--accent-grad-2) 80%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  mix-blend-mode: normal;
}

@media (width >= 400px) and (width <1000px) {
  h1 {
    /* also changes at 1000px to 3.5rem */
    font-size: 3rem;
  }
}

h2 {
  font-size: var(--text-size-lg);
  text-transform: uppercase;
  margin: 0;
  padding: 0.5rem 0;
  color: var(--base-color-1);
  font-weight: bold;
}

h3,
.heading3 {
  font-size: var(--text-size-lg);
  margin: 0;
  padding: 0.25rem 0;
  color: var(--base-color-1);
  font-weight: bold;
}

/* Text Margin and Color */
p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.5rem 0;
}

/* Links and Stuff */
a {
  color: inherit;
  text-decoration: none;
}

a.link {
  color: var(--base-color-1);
  font-weight: bold;
}

a:hover,
a:focus {
  /* single color only (for performance and contact icons) */
  color: var(--accent-color);
}

.readMore {
  font-size: var(--text-size-lg);
  margin: 0;
  padding-top: 1.5rem;
  color: var(--base-color-1);
  font-weight: bold;
}

/***************************************************************
[Theme] Switch for the theme ===================================
***************************************************************/

.switch {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem 0;
  font-size: var(--text-size-lg);
  font-weight: bold;

  input {
    display: none;
  }

  input:checked~.icon-wrapper {
    .moon {
      opacity: 0;
      transform: rotate(360deg);
    }

    .sun {
      opacity: 1;
      transform: rotate(360deg);
    }
  }

  input:not(checked)~.icon-wrapper {
    .sun {
      opacity: 0;
    }

    .moon {
      opacity: 1;
    }
  }
}

.icon-wrapper {
  position: relative;
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 8px;
}

.icon-wrapper svg {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

/***************************************************************
[<1000px] Layout: Page Design (Main) ===========================
***************************************************************/
.layout {
  min-width: 320px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

header {
  display: flex;
  padding: 3rem 0;
  /* No good profile pic yet so... */
  flex-wrap: wrap;
  align-items: end;
  justify-content: space-between;
  /* flex-direction: column; */
}

footer {
  padding-bottom: 3rem;
}

section {
  padding-bottom: 2rem;
}

.sticky-top {
  position: sticky;
  top: -0.1rem;
  padding-top: 0.1rem;
  background-color: var(--custom-sticky-top);
  backdrop-filter: blur(0.5rem);
  z-index: 3;
}

@supports not (backdrop-filter: blur(1rem)) {
  .sticky-top {
    background-color: var(--background-color);
  }
}

/***************************************************************
Navigation Bar (ALL <nav>) (>1000px)
***************************************************************/
nav {
  display: none;
  color: var(--base-color-1);
  font-size: var(--text-size-lg);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.75;
}

nav .active {
  color: var(--accent-color);
}

nav .active::before {
  content: "➜ ";
}

/***************************************************************
Shimmering Contact Icons (<ul> recommended)
***************************************************************/
ul.contact-icons {
  list-style-type: none;
  margin-top: 1rem;
  padding-bottom: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
}

ul.contact-icons li {
  margin-right: 2rem;
}

ul.contact-icons li a {
  position: relative;
  display: block;
  height: 3rem;
  min-width: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0.5rem var(--base-color-1);
}

ul.contact-icons li:last-child {
  margin-right: 0;
}

ul.contact-icons li a:hover {
  background: linear-gradient(-45deg,
      var(--background-color) 40%,
      var(--custom-gradient-contact-icons) 50%,
      var(--background-color) 60%);
  background-size: 300%;
  background-position-x: 100%;
  animation: fx-shimmer 2s infinite linear;
  box-shadow: 0 0 0.5rem var(--accent-color);
}

@keyframes fx-shimmer {
  to {
    background-position-x: 0%;
  }
}

/***************************************************************
Skills Grid (<div><div>[<svg><p>] recommended)
***************************************************************/
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 0.5rem;
  margin-top: 1rem;
  justify-content: center;
  /* Center the content */
}

.skill-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem 0.6rem;
  border-radius: 0.5rem;
  border-top: 0.1rem solid transparent;
  color: var(--base-color-2);
  background: var(--card-background);
  font-size: 0.8rem;
  transform: translateY(0);
  transition: transform 0.3s ease-out;
}

.skill-item:hover {
  border-top-color: var(--card-hover-top-border);
  background: var(--card-background);
  background: linear-gradient(135deg,
      var(--card-background-grad-1) 20%,
      var(--card-background-grad-2) 80%);
  transform: translateY(-0.2rem);
}

.skill-item svg {
  margin-right: 0.8rem;
}

/***************************************************************
~ Cards and Section Padding (<div*><a><div**> recommended)====
***************************************************************/
.paddedLeftRight {
  padding-left: 2rem;
  padding-right: 2rem;
}

.paddedLeftRight-cardSection {
  padding-left: 1.1rem;
  padding-right: 1.1rem;
}

/* Optional* */
div.card-wrapper:hover,
div.card-wrapper:has(.card:focus-within) {
  color: var(--card-not-hover-text-color);
}

/* Only one card can have the glass-like hover/focus effect */
div.card-wrapper:has(.card:focus-within) .card:has(.card-time):not(:focus-within):hover {
  color: var(--card-not-hover-text-color);
  background: transparent;
  border-top-color: transparent;

  h3 {
    color: var(--base-color-1);
  }
}

div.card-wrapper:has(.card:focus-within) .card:has(.card-image):not(:focus-within):hover {
  color: var(--card-not-hover-text-color);
  background: var(--card-background);
  border-top-color: transparent;

  h3 {
    color: var(--base-color-1);
  }
}

.card {
  display: flex;
  flex-direction: column;
  background: transparent;
  position: relative;
  padding: 0.5rem 0.8rem;
  margin: 0.2rem 0.1rem;
  border-radius: 0.5rem;
  border-top: 0.1rem solid transparent;
  transform: translateY(0);
  transition: transform 0.3s ease-out;

  h3 a {
    margin-right: 0.5rem;
  }
}

.card:has(.card-image) {
  background-color: var(--card-background);
  padding: 0.8rem 0.8rem;
  margin-bottom: 0.5rem;
}

.card p {
  padding: 0;
}

.card:hover,
.card:focus-within {
  color: var(--base-color-2);
  background: var(--card-background);
  background: linear-gradient(135deg,
      var(--card-background-grad-1) 20%,
      var(--card-background-grad-2) 80%);
  border-top-color: var(--card-hover-top-border);
  transform: translateY(-0.2rem);

  h3,
  .heading3 {
    color: var(--accent-color);
  }

  ul.techStack {

    li.langs,
    .langs~li {
      color: var(--accent-grad-2);
    }

    li.utils,
    .utils~li {
      color: var(--accent-color);
    }

    li.tools,
    .tools~li {
      color: var(--accent-grad-1);
    }
  }
}

.link-arrow {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin: 0 0 -0.2rem -0.2rem;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M6.343 17.657L17.657 6.343m0 0v8.485m0-8.485H9.172'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  transition: margin 0.25s;
}

a:hover .link-arrow,
a:focus .link-arrow {
  margin: -0.2rem -0.2rem 0 0;
}

/* Optional** */
div.card-time {
  font-style: italic;
}

div.card-image {
  z-index: 2;
}

div.card-image img {
  width: 100%; 
  margin-left: -0.1rem; /* to account for the borders */
  height: auto;
  object-fit: contain;
  border-radius: 0.4rem;
  border: var(--card-hover-top-border) 0.1rem solid;
  animation: skeleton-loading 2s infinite linear alternate;
}

div.card-image img.imgLoaded {
  animation: none;
}

@keyframes skeleton-loading {
  0% {
    background-color: var(--card-background-grad-1);
  }
  100% {
    background-color: var(--card-background-grad-2);
  }
}

@media ((width > 689px) and (width < 1000px)) or (width > 1200px) {
  .card:has(.card-time) {
    flex-direction: row;
  }

  div.card-time {
    min-width: 9rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-right: 1rem;
  }
}

span.workplace {
  font-weight: 500;
  font-style: italic;
  display: inline-block;
}

span.label {
  font-weight: 500;
  font-style: italic;
  padding: 0 0.75rem;
  display: inline-block;
  color: var(--accent-color);
  border: 0.1rem solid currentColor;
  border-radius: 1rem;
  box-shadow: currentColor 0 0 0.25rem;
}

span.label.red {
  color: var(--accent-grad-1);
}

span.label.yellow {
  color: var(--accent-grad-2);
}

ul.techStack {
  list-style-type: none;
  margin: 0;
  padding: 0.5rem 0 0;
}

ul.techStack li {
  font-size: var(--text-size-sm);
  margin: 0 0.5rem 0.5rem 0;
  color: var(--accent-color);
  padding: 0 0.5rem;
  display: inline-block;
  border: 0.1rem solid currentColor;
  border-radius: 1rem;
  /* removable glow effect */
  box-shadow: currentColor 0 0 0.25rem;
}

/***************************************************************
Glowing-Mouse (Javascript Depended)
***************************************************************/
.glow-mouse {
  display: none;
  position: fixed;
  width: 480px;
  height: 480px;
  border-radius: 50%;
  background: radial-gradient(circle,
      var(--custom-mouse-glow-1) 0%,
      var(--custom-mouse-glow-2) 70%);
  pointer-events: none;
  z-index: 10;
  /*or 1 if to not affect images*/
}

/***************************************************************
[>=1000px] Layout: Split-Screen Design =========================
***************************************************************/
@media all and (width >=1000px) {
  .layout {
    max-width: 1280px;
  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 3rem 0.5rem 3rem 1.5rem;
    position: fixed;
    max-width: 43%;
    /* 100vh - (padding-top + padding-bottom) */
    height: calc(100vh - 6rem);
    align-items: baseline;
    /* Hides header scrollbar */
    overflow-y: scroll;
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
  }

  header::-webkit-scrollbar {
    display: none;
    /* Hides the scrollbar */
  }

  nav {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1rem 0;
  }

  main {
    padding: 0 1.5rem 0 0.5rem;
    margin-left: 43%
  }

  main::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
  }

  h1 {
    font-size: 3.5rem;
  }

  section {
    /* padding-top == header padding-top*/
    padding-top: 3rem;
    padding-bottom: 0rem;
  }

  .sticky-top {
    display: none;
  }

  footer {
    /* padding-top == header padding-top*/
    /* padding-bottom == header padding-bottom*/
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

/***************************************************************
[ALL] Loading Animations =======================================
***************************************************************/
/* Loading Screen */
#loading-screen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeOut 0.7s forwards;
  animation-delay: 1.8s;
  z-index: 5;
}

#loading-screen svg {
  width: min(50vh, 50vw);
}

/* Loading Screen SVG animation */
svg #dev-right {
  opacity: 0;
  animation: fadeInRight 1s forwards;
  animation-delay: 0.5s;
}

svg #dev-left {
  opacity: 0;
  animation: fadeInLeft 1s forwards;
  animation-delay: 0.5s;
}

svg #dev-slash {
  stroke-dasharray: 236.8;
  stroke-dashoffset: 236.8;
  animation: drawSlash 1s forwards;
  animation-delay: 0.5s;
}

svg #charJ-slash {
  stroke-dasharray: 99;
  stroke-dashoffset: 99;
  animation: lineSlash 0.8s forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    pointer-events: none;
  }
}

@keyframes lineSlash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes drawSlash {
  to {
    stroke-dashoffset: 118.4;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(36px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-36px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Fade in items on scroll (css part) */
.scroll-hidden {
  opacity: 0;
  transform: translateY(16px);
  transition: opacity 0.7s, transform 0.7s ease-out;
}

.scroll-show {
  opacity: 1;
  transform: translateY(0);
}

@media (prefers-reduced-motion) {
  .scroll-hidden {
    transition: none;
  }
  .loading-screen {
    display: none;
  }
}