/***************************************************************
Base CSS =======================================================
***************************************************************/
:root {
  /* [Var] Color Palette (Black-Gray-Orange) */
  --background-color: hsl(42, 5%, 15%);
  --base-color-1: hsl(42, 15%, 80%);
  --base-color-2: hsl(42, 15%, 60%);
  --accent-color: hsl(42, 90%, 45%);
  --accent-grad-1: hsl(25, 100%, 50%);
  --accent-grad-2: hsl(50, 100%, 45%);
  /* [Var] Text (Minor Third 1.2 Scale Rounded Ratio) */
  --text-size-sm: 0.8rem;
  --text-size-md: 1rem;
  --text-size-lg: 1.2rem;
  --text-size-title: 2.5rem;
  /* [Fixed] Font (Inter Best Font) */
  font-family: "Inter", sans-serif;
  font-feature-settings: "calt", "ss03", "cv02", "cv05", "cv11";
  /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: "InterVariable", sans-serif;
  }
}

/* Html Body and Base Background */
html {
  scrollbar-width: thin;
  scrollbar-color: var(--base-color-2) var(--background-color);
  scroll-behavior: smooth;
  background-color: var(--background-color);
  color: var(--base-color-2);
  font-size: var(--text-size-md);
  line-height: 1.5;
  margin: 0;
}

/* Headings */
h1 {
  font-size: var(--text-size-title);
  text-transform: capitalize;
  margin: 0;
  margin-top: -0.25rem;
  font-weight: bold;
  background: linear-gradient(90deg,
      var(--accent-grad-1) 0%,
      var(--accent-grad-2) 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 0 0.2rem var(--accent-grad-1));
}

h2 {
  font-size: var(--text-size-lg);
  text-transform: uppercase;
  margin: 0;
  padding: 0.5rem 0;
  color: var(--base-color-1);
  font-weight: bold;
}

h3,
.big-link {
  font-size: var(--text-size-lg);
  text-transform: capitalize;
  margin: 0;
  padding: 0.25rem 0;
  color: var(--base-color-1);
  font-weight: bold;
}

/* Text Margin and Color */
p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.5rem 0;
}

/* Links and Stuff */
a {
  color: inherit;
  text-decoration: none;
}

a.link {
  color: var(--base-color-1);
  font-weight: bold;
}

a:hover,
a:focus {
  /* single color only (for performance and contact icons) */
  color: var(--accent-color);
}

/***************************************************************
[<1000px] Layout: Page Design (Main) ===========================
***************************************************************/
.layout {
  min-width: 320px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

header {
  display: flex;
  padding: 3rem 0;
  /* No good profile pic yet so... */
  flex-wrap: wrap;
  align-items: end;
  justify-content: space-between;
  /* flex-direction: column; */
}

footer {
  padding-bottom: 3rem;
}

section {
  padding-bottom: 2rem;
}

.sticky-top {
  position: sticky;
  top: -0.1rem;
  padding-top: 0.1rem;
  background-color: hsla(42, 5%, 15%, 0.25);
  ;
  backdrop-filter: blur(0.5rem);
  z-index: 3;
}

@supports not (backdrop-filter: blur(1rem)) {
  .sticky-top {
    background-color: var(--background-color);
  }
}

/***************************************************************
Navigation Bar (ALL <nav>) (>1000px)
***************************************************************/
nav {
  display: none;
  color: var(--base-color-1);
  font-size: var(--text-size-lg);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.75;
}

nav .active {
  color: var(--accent-color);
}

nav .active::before {
  content: "➜ ";
}

/***************************************************************
Shimmering Contact Icons (<ul> recommended)
***************************************************************/
ul.contact-icons {
  list-style-type: none;
  margin-top: 1rem;
  padding-bottom: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
}

ul.contact-icons li {
  margin-right: 2rem;
}

ul.contact-icons li a {
  position: relative;
  display: block;
  height: 3rem;
  min-width: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0.5rem var(--base-color-1);
}

ul.contact-icons li:last-child {
  margin-right: 0;
}

ul.contact-icons li a:hover {
  background: linear-gradient(-45deg,
      hsl(42, 5%, 15%) 40%,
      hsl(42, 60%, 15%) 50%,
      hsl(42, 5%, 15%) 60%);
  background-size: 300%;
  background-position-x: 100%;
  animation: fx-shimmer 2s infinite linear;
  box-shadow: 0 0 0.5rem var(--accent-color);
}

@keyframes fx-shimmer {
  to {
    background-position-x: 0%;
  }
}

/***************************************************************
Skills Grid (<div><div>[<svg><p>] recommended)
***************************************************************/
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 0.5rem;
    margin-top: 1rem;
    justify-content: center; /* Center the content */
}

.skill-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem 0.6rem;
  border-radius: 0.5rem;
  border-top: 0.1rem solid transparent;
  color: var(--base-color-2);
  background: hsl(42, 5%, 18%);
  font-size: 0.8rem;
}

.skill-item:hover {
  border-top-color: hsl(0, 0%, 30%);
  background: hsl(42, 5%, 20%);
  background: linear-gradient(135deg,
      hsl(42, 5%, 21%) 20%,
      hsl(42, 5%, 19%) 80%);
}

.skill-item svg {
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 0.8rem;
}

/***************************************************************
~ Cards and Section Padding (<div*><a><div**> recommended)====
***************************************************************/
.paddedLeftRight {
  padding-left: 2rem;
  padding-right: 2rem;
}

.paddedLeftRight-cardSection {
  padding-left: 1.1rem;
  padding-right: 1.1rem;
}

/* Optional* */
div.card-wrapper:hover,
div.card-wrapper:has(.card:focus-within) {
  color: hsl(43, 14%, 55%);
}

/* Only one card can have the glass-like hover/focus effect */
div.card-wrapper:has(.card:focus-within) .card:has(.card-time):not(:focus-within):hover {
  color: hsl(43, 14%, 55%);
  background: transparent;
  border-top-color: transparent;

  h3 {
    color: var(--base-color-1);
  }
}

div.card-wrapper:has(.card:focus-within) .card:has(.card-image):not(:focus-within):hover {
  color: hsl(43, 14%, 55%);
  background: hsl(42, 5%, 18%);
  border-top-color: transparent;

  h3 {
    color: var(--base-color-1);
  }
}

.card {
  display: flex;
  flex-direction: column;
  background: transparent;
  position: relative;
  padding: 0.5rem 0.8rem;
  margin: 0.1rem;
  border-radius: 0.5rem;
  border-top: 0.1rem solid transparent;
}

.card:has(.card-image) {
  background-color: hsl(42, 5%, 18%);
  padding: 0.8rem 0.8rem;
  margin-bottom: 0.5rem;
}

.card p {
  padding: 0;
}

.card:hover,
.card:focus-within {
  color: var(--base-color-2);
  background: hsl(42, 5%, 20%);
  background: linear-gradient(135deg,
      hsl(42, 5%, 21%) 20%,
      hsl(42, 5%, 19%) 80%);
  border-top-color: hsl(0, 0%, 30%);

  h3 {
    color: var(--accent-color);
  }

  ul.techStack {

    li.langs,
    .langs~li {
      color: var(--accent-grad-2);
    }

    li.utils,
    .utils~li {
      color: var(--accent-color);
    }

    li.tools,
    .tools~li {
      color: var(--accent-grad-1);
    }
  }
}

.link-arrow {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin: 0 0 -0.2rem -0.2rem;
  --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M6.343 17.657L17.657 6.343m0 0v8.485m0-8.485H9.172'/%3E%3C/svg%3E");
  background-color: currentColor;
  -webkit-mask-image: var(--svg);
  mask-image: var(--svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  transition: margin 0.25s;
}

a:hover .link-arrow,
a:focus .link-arrow {
  margin: -0.2rem -0.2rem 0 0;
}

/* Optional** */
div.card-time {
  font-style: italic;
}

div.card-image {
  z-index: 2;
}

div.card-image img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 0.4rem;
}

@media ((width > 689px) and (width < 1000px)) or (width > 1200px) {
  .card:has(.card-time) {
    flex-direction: row;
  }

  div.card-time {
    min-width: 9rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-right: 1rem;
  }
}

span.workplace {
  font-weight: 500;
  font-style: italic;
  display: inline-block;
}

span.label {
  font-weight: 500;
  font-style: italic;
  padding: 0 0.75rem;
  margin-left: 0.5rem;
  display: inline-block;
  color: var(--accent-color);
  border: 0.1rem solid currentColor;
  border-radius: 1rem;
  box-shadow: currentColor 0 0 0.25rem;
}

span.label.red {
  color: var(--accent-grad-1);
}

span.label.yellow {
  color: var(--accent-grad-2);
}

ul.techStack {
  list-style-type: none;
  margin: 0;
  padding: 0.5rem 0 0;
}

ul.techStack li {
  font-size: var(--text-size-sm);
  margin: 0 0.5rem 0.5rem 0;
  color: var(--accent-color);
  padding: 0 0.5rem;
  display: inline-block;
  border: 0.1rem solid currentColor;
  border-radius: 1rem;
  /* removable glow effect */
  box-shadow: currentColor 0 0 0.25rem;
}

/***************************************************************
Glowing-Mouse (Javascript Depended)
***************************************************************/
.glow-mouse {
  display: none;
  position: fixed;
  width: 480px;
  height: 480px;
  border-radius: 50%;
  background: radial-gradient(circle,
      hsla(42, 90%, 50%, 5%) 0%,
      hsla(42, 80%, 50%, 0) 70%);
  pointer-events: none;
  z-index: 10; /*or 1 if to not affect images*/
}

/***************************************************************
[>=1000px] Layout: Split-Screen Design =========================
***************************************************************/
@media all and (width >=1000px) {
  .layout {
    max-width: 1280px;
  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 3rem 0.5rem 3rem 1.5rem;
    position: fixed;
    max-width: 42%;
    /* 100vh - (padding-top + padding-bottom) */
    height: calc(100vh - 6rem);
    align-items: baseline;
    /* Hides header scrollbar */
    overflow-y: scroll;
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
  }

  header::-webkit-scrollbar {
    display: none;
    /* Hides the scrollbar */
  }

  nav {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1rem 0;
  }

  main {
    padding: 0 1.5rem 0 0.5rem;
    margin-left: 42%;
  }

  main::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
  }

  h1 {
    font-size: 3.5rem;
  }

  section {
    /* padding-top == header padding-top*/
    padding-top: 3rem;
    padding-bottom: 0;
  }

  .sticky-top {
    display: none;
  }

  footer {
    /* padding-top == header padding-top*/
    /* padding-bottom == header padding-bottom*/
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  /*************************************************************
  [>1000px] Sections Stuff
  *************************************************************/
  #ScrollUpBtn {
    margin-right: 0.75rem;
  }
}