/***************************************************************
Base CSS =======================================================
***************************************************************/
:root {
  /* [Var] Color Palette (Black-Gray-Orange) */
  --background-color: hsl(42, 5%, 15%);
  --base-color-1: hsl(42, 15%, 80%);
  --base-color-2: hsl(42, 15%, 60%);
  --accent-color: hsl(42, 90%, 45%);
  --accent-grad-1: hsl(30, 90%, 50%);
  --accent-grad-2: hsl(50, 90%, 50%);
  /* [Var] Text (Minor Third 1.2 Scale Rounded Ratio) */
  --text-size-sm: 0.8rem;
  --text-size-md: 1rem;
  --text-size-lg: 1.2rem;
  --text-size-title: 2.5rem;
  /* [Fixed] Font (Inter Best Font) */
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1;
  /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

/* Html Body and Base Background */
html {
  scroll-behavior: smooth;
  background-color: var(--background-color);
  color: var(--base-color-2);
  font-size: var(--text-size-md);
  line-height: 1.5;
  margin: 0;
}

/* Headings */
h1 {
  font-size: var(--text-size-title);
  text-transform: capitalize;
  margin: auto;
  margin-top: -0.25rem;
  font-weight: bold;
  background: linear-gradient(45deg,
      var(--accent-grad-1) 0%,
      var(--accent-grad-2) 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 0 0.2rem var(--accent-grad-1));
}

h2 {
  font-size: var(--text-size-lg);
  text-transform: uppercase;
  margin: auto;
  padding: 0.5rem 0;
  color: var(--base-color-1);
  font-weight: bold;
}

h3 {
  font-size: var(--text-size-lg);
  text-transform: capitalize;
  margin: auto;
  padding: 0.25rem 0;
  color: var(--base-color-1);
  font-weight: 500;
}

/* Text Margin and Color */
p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.25rem 0;
}

/* Links and Stuff */
a {
  color: inherit;
  text-decoration: none;
}

a.link {
  color: var(--base-color-1);
  font-weight: bold;
}

a:hover {
  /* single color only (for performance and contact icons) */
  color: var(--accent-color);
}

span.workplace {
  font-style: italic;
  display: inline-block;
}

/***************************************************************
[<1000px] Layout: Page Design (Main) ===========================
***************************************************************/
.layout {
  min-width: 320px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

header {
  display: flex;
  padding: 3rem 0;
  /* No good profile pic yet so... */
  flex-wrap: wrap;
  align-items: end;
  justify-content: space-between;
  /* flex-direction: column; */
}

footer {
  padding-bottom: 2rem;
}

section {
  padding-bottom: 1rem;
}

.sticky-top {
  position: sticky;
  top: -0.1rem;
  padding-top: 0.1rem;
  backdrop-filter: blur(1rem);
  z-index: 1;
}

@supports not (backdrop-filter: blur(1rem)) {
  .sticky-top {
    background-color: var(--background-color);
  }
}

/***************************************************************
Navigation Bar (ALL <nav>) (>1000px)
***************************************************************/
nav {
  display: none;
  font-size: var(--text-size-lg);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.75;
}

nav .active {
  color: var(--accent-color);
}

nav .active::before {
  content: "➜ ";
}

/***************************************************************
Shimmering Contact Icons (<ul> recommended)
***************************************************************/
ul.contact-icons {
  list-style-type: none;
  margin-top: 1rem;
  padding-bottom: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
}

ul.contact-icons li {
  margin-right: 2rem;
}

ul.contact-icons li a {
  position: relative;
  display: block;
  height: 3rem;
  min-width: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0.5rem var(--base-color-1);
}

ul.contact-icons li:last-child {
  margin-right: 0;
}

ul.contact-icons li a:hover {
  background: linear-gradient(-45deg,
      transparent 40%,
      hsla(0, 0%, 50%, 0.2) 50%,
      transparent 60%);
  background-size: 300%;
  background-position-x: 100%;
  animation: fx-shimmer 2s infinite linear;
  box-shadow: 0 0 0.5rem var(--accent-color);
}

@keyframes fx-shimmer {
  to {
    background-position-x: 0%;
  }
}

/***************************************************************
~ Cards and Section Padding (<div*><a><div**> recommended)====
***************************************************************/
.paddedLeftRight {
  padding-left: 2rem;
  padding-right: 2rem;
}

.paddedLeftRight-cardSection {
  padding-left: 1.1rem;
  padding-right: 1.1rem;
}

/* Optional* */
div.card-wrapper:hover,
div.card-wrapper:has(.card:focus) {
  color: hsl(43, 14%, 55%);
}

/* <a role="button" class="card" tabIndex="0"> for focus*/
/* <a class="card" href=""> for linked focus */
a.card {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0.5rem 0.8rem;
  margin: 0.1rem;
  border-radius: 0.5rem;
  border-top: 0.1rem solid transparent;
}

a.card p {
  padding: 0;
}

a.card:hover,
a.card:focus {
  color: var(--base-color-2);
  background: hsla(0, 0%, 50%, 0.1);
  border-top-color: hsl(0, 0%, 30%);
  outline: transparent;

  h3 {
    color: var(--accent-color);
  }
}

/* Only one card can have the glass-like hover/focus effect */
div.card-wrapper:has(.card:focus) .card:not(:focus):hover {
  color: hsl(43, 14%, 55%);
  background: transparent;
  border-top-color: transparent;

  h3 {
    color: var(--base-color-1);
  }
}

/* Optional** */
div.card-pt-1 {
  font-style: italic;
}

/* .card-pt-2 {} */

@media ((width > 689px) and (width < 1000px)) or (width > 1200px) {
  a.card {
    flex-direction: row;
  }

  div.card-pt-1 {
    min-width: 9rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-right: 1rem;
  }
}

/***************************************************************
Scroll Up Button (Javascript Depended) (<1000px)
***************************************************************/
#ScrollUpBtn {
  overflow: hidden;
  position: fixed;
  align-self: end;
  height: 0;
  /*if no script, it will not appear */
  bottom: 3rem;
  margin-right: 0.6rem;
  /*based on section padding and margin*/
  z-index: 2;
  transition: height 0.5s;
}

/***************************************************************
Glowing-Mouse (Javascript Depended)
***************************************************************/
.glow-mouse {
  display: none;
  position: fixed;
  width: 320px;
  height: 320px;
  border-radius: 50%;
  background: radial-gradient(circle, hsla(42, 90%, 50%, 5%) 0%, hsla(42, 80%, 50%, 0) 70%);
  pointer-events: none;
  z-index: 1;
}

/***************************************************************
[>=1000px] Layout: Split-Screen Design =========================
***************************************************************/
@media all and (width >=1000px) {
  .layout {
    max-width: 1280px;
  }

  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 3rem 0.5rem 3rem 1.5rem;
    position: fixed;
    max-width: 42%;
    /* 100vh - (padding-top + padding-bottom) */
    height: calc(100vh - 6rem);
    align-items: baseline;
    /* Hides header scrollbar */
    overflow-y: scroll;
    overflow: -moz-scrollbars-none;
  }

  header::-webkit-scrollbar {
    display: none;
    /* Hides the scrollbar */
  }

  nav {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1rem 0;
  }

  main {
    padding: 3rem 1.5rem 3rem 0.5rem;
    margin-left: 42%;
  }

  main::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
  }

  h1 {
    font-size: 3.5rem;
  }

  section {
    padding: 0 0 2rem;
  }

  .sticky-top {
    display: none;
  }

  footer {
    padding-bottom: 0;
  }

  /*************************************************************
  [>1000px] Sections Stuff
  *************************************************************/
  #ScrollUpBtn {
    margin-right: 0.75rem;
  }
}