@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --nav-color: #262525;
  --color: #2f2d2d;
  --accent-color: #e95420;
  --text-color: #acaaaa;
}
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 12pt;
  font-family: "Poppins", Tahoma, sans-serif;
  color: var(--text-color);
  min-width: 200px;
}
body {
  background-color: var(--color);
}

/*Header - Navigation Bar*/
nav {
  height: 50px;
  width: 100%;
  background-color: var(--nav-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 5;
  transition: top 0.3s ease;
}
nav .dropdown a {
  color: var(--text-color);
  display: block;
  padding: 10px;
  text-decoration: none;
}
nav .dropdown a:hover {
  background-color: var(--accent-color); /* Highlight on hover */
}
nav input[type="checkbox"] {
  display: none; /* Hide the checkbox */
}
nav svg {
  fill: var(--text-color);
  height: 30px;
  width: 30px;
  margin: 10px;
}
.menu,
.close {
  display: none;
}
.dropdown {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (max-width: 520px) {
  nav label {
    cursor: pointer;
    display: inline-block;
    width: 50px;
    height: 50px;
    position: relative;
  }

  .menu,
  .close {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease-out;
  }

  .menu {
    opacity: 1; /* Show menu by default */
  }

  nav input[type="checkbox"]:checked + label .menu {
    opacity: 0; /* Fade out menu */
    transform: rotate(360deg); /* Spin */
  }

  nav input[type="checkbox"]:checked + label .close {
    opacity: 1; /* Fade in close */
    transform: rotate(360deg); /* Spin */
  }

  nav .dropdown {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 50px; /* Position below the label */
    left: 0;
    right: 0;
    background-color: var(--nav-color);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
    height: auto;
    display: none;
    overflow: hidden;
    z-index: 4;
  }
  nav .dropdown a {
    width: 100%;
  }

  nav input[type="checkbox"]:checked ~ .dropdown {
    display: block;
  }

  nav .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: none;
    display: none; /* Hidden by default */
  }

  nav input[type="checkbox"]:checked ~ .overlay {
    display: block; /* Show overlay when checked */
  }
}
/*Section*/
section {
  margin: 10px;
  padding: 15px;
  border: 5px solid var(--nav-color);
}
/*Footer*/
footer {
  text-align: center;
  padding: 10px 0;
  background: var(--nav-color);
  color: var(--text-color);
}
