/*********************************************************
Base CSS
*********************************************************/
:root {
  /* [Var] Color Palette (Black-Gray-Orange) */
  --background-color: #343332;
  --base-color-1: #fbfaf9;
  --base-color-2: #c5c4c3;
  --accent-color: #ed882a;
  --accent-color-grad: #ffe100;
  /* [Var] Text (Minor Third 1.2 Scale Ratio) */
  --text-size-sm: 0.83rem;
  --text-size-md: 1rem;
  --text-size-lg: 1.2rem;
  --text-size-3xl: 2.07rem;
  /* [Fixed] Font (Inter Best Font) */
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

/* Base Styles */
body {
  background-color: var(--background-color);
  color: var(--base-color-2);
  font-size: var(--text-size-md);
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

/* Headings */
h1 {
  font-size: var(--text-size-3xl);
  text-transform: capitalize;
}
h2 {
  font-size: var(--text-size-lg);
  text-transform: uppercase;
}
h3 {
  font-size: var(--text-size-lg);
  text-transform: capitalize;
}

/* Text Margin and Color */
p, a, .btn, ul, h1, h2, h3 {
  padding: 4px 0;
  margin: 0;
}
h1, h2, h3 {
  color: var(--base-color-1);
  font-weight: bold;
}
p {
  color: var(--base-color-2);
}
a, .btn  {
  color: var(--base-color-1);
  font-weight: bold;
  text-decoration: none;
}
a:hover, .btn:hover {
  background: linear-gradient(45deg, var(--accent-color) 0%, var(--accent-color-grad) 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.grad {
  background: linear-gradient(45deg, var(--accent-color) 0%, var(--accent-color-grad) 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*********************************************************
Sections
*********************************************************/