/*********************************************************
Base CSS
*********************************************************/
:root {
  /* [Var] Color Palette (Black-Gray-Orange) */
  --background-color: #292827;
  --base-color-1: #d3cfc5;
  --base-color-2: #a9a18e;
  --accent-color: rgb(233, 166, 12);
  --accent-grad-1: #f2870d;
  --accent-grad-2: #e0bb06;
  --accent-glow: rgba(233, 166, 12, 0.5);
  /* [Var] Text (Minor Third 1.2 Scale Rounded Ratio) */
  --text-size-sm: 0.8rem;
  --text-size-md: 1rem;
  --text-size-lg: 1.2rem;
  --text-size-3xl: 2rem;
  /* [Fixed] Font (Inter Best Font) */
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

/* Base Styles */
body {
  min-width: 320px;
  max-width: 1200px;
  background-color: var(--background-color);
  color: var(--base-color-2);
  font-size: var(--text-size-md);
  line-height: 1.5;
  margin: auto;
  padding: 0;
}

/* Headings */
h1 {
  font-size: var(--text-size-3xl);
  text-transform: capitalize;
}
h2 {
  font-size: var(--text-size-lg);
  text-transform: uppercase;
}
h3 {
  font-size: var(--text-size-lg);
  text-transform: capitalize;
}

/* Text Margin and Color */
h1, h2, h3 {
  margin: 0;
  padding: 0.5rem 0;
  color: var(--base-color-1);
  font-weight: bold;
}
p {
  margin: 0;
  padding: 0 0 0.5rem 0;
  color: var(--base-color-2);
}
a, .btn  {
  color: var(--base-color-1);
  font-weight: bold;
  text-decoration: none;
}
a:hover, .btn:hover {
  background: linear-gradient(45deg, var(--accent-grad-1) 0%, var(--accent-grad-2) 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* removable glow effect */
  text-shadow: var(--accent-glow) 0 0 0.25rem;
}
.grad {
  background: linear-gradient(45deg, var(--accent-grad-1) 0%, var(--accent-grad-2) 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* removable glow effect */
  text-shadow: var(--accent-glow) 0 0 0.25rem;
}
/*********************************************************
Sections
*********************************************************/
section {
  padding: 0.5rem 0;
}
footer {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 1rem 1.5rem;
}
section .header {
  position: sticky;
  top: 0;
  padding: 0 1.5rem;
  backdrop-filter: blur(24px);
}
section .body {
  padding: 0 1.5rem;
}