/*********************************************************
Base CSS
*********************************************************/
:root {
  /* [Var] Color Palette (Black-Gray-Orange) */
  --background-color: #292827;
  --base-color-1: #d3cfc5;
  --base-color-2: #a9a18e;
  --accent-color: #f2870d;
  --accent-color-grad: #e0bb06;
  --glow-color: hsla(42 90% 48% / 0.5);
  /* [Var] Text (Minor Third 1.2 Scale Ratio) */
  --text-size-sm: 0.83rem;
  --text-size-md: 1rem;
  --text-size-lg: 1.2rem;
  --text-size-3xl: 2.07rem;
  /* [Fixed] Font (Inter Best Font) */
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

/* Base Styles */
body {
  background-color: var(--background-color);
  color: var(--base-color-2);
  font-size: var(--text-size-md);
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

/* Headings */
h1 {
  font-size: var(--text-size-3xl);
  text-transform: capitalize;
}
h2 {
  font-size: var(--text-size-lg);
  text-transform: uppercase;
}
h3 {
  font-size: var(--text-size-lg);
  text-transform: capitalize;
}

/* Text Margin and Color */
h1, h2, h3 {
  margin: 0;
  padding: 0.5rem 0;
  color: var(--base-color-1);
  font-weight: bold;
}
p, ul{
  margin: 0;
  padding: 0 0 0.5rem 0;
  color: var(--base-color-2);
}
a, .btn  {
  color: var(--base-color-1);
  font-weight: bold;
  text-decoration: none;
}
a:hover, .btn:hover {
  background: linear-gradient(45deg, var(--accent-color) 0%, var(--accent-color-grad) 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* removable glow effect */
  text-shadow: var(--glow-color) 0 0 4px;
}
.grad {
  background: linear-gradient(45deg, var(--accent-color) 0%, var(--accent-color-grad) 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* removable glow effect */
  text-shadow: var(--glow-color) 0 0 4px;
}
/*********************************************************
Sections
*********************************************************/
section {
  padding: 0.5rem 0;
}
footer {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 1rem 1.5rem;
}
section .header {
  position: sticky;
  top: 0px;
  padding: 0 1.5rem;
  backdrop-filter: blur(25px);
}
section .body {
  padding: 0 1.5rem;
}